.goal {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 540px;
  @media (max-width: 850px) {
    height: 100%;
    min-height: 540px;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
    max-width: 1440px;

  }
  .main-content {
    max-width: 944px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 100vh;
    .logo {
      max-width: 1440px !important;
      position: absolute;
      top: 40px;
      left: 40px;
      width: 200px;
      @media (max-width: 650px) {
        width: 100px;
      }
      @media (max-width: 550px) {
        display: none;
      }
    }
    .nav {
      max-width: 1440px !important;
      position: absolute;
      display: block;
      top: 40px;
      right: 80px;
      @media (max-width: 650px) {
        right: 40px;
      }
      .menu {
        position: relative;
        display: block;
        cursor: pointer;
      }
    }

    .content {
      text-align: center;

      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      margin: 10px 0;
      position: relative;
      @media (max-width: 850px) {
        padding: 0 15px 0 15px;
        top: 25%;
      }
      .title {
        color: #262626;
        font-family: "Century Gothic";
        font-size: 45px;
        font-weight: 700;

        text-transform: uppercase;
        text-align: center;
        padding: 128px 15px 39px 15px;
        @media (max-width: 850px) {
          font-size: 30px;
          padding: 28px 15px 15px 15px;
        }
      }
      .textarea {
        max-width: 780px;

        color: #262626;
        font-family: "Century Gothic";
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        text-align: center;
        margin: 0 auto;
        padding: 0 15px 95px 15px;
        @media (max-width: 850px) {
          padding: 0 15px 25px 15px;
          font-size: 18px;
          line-height: 23px;
        }
        @media (max-width: 650px) {
          padding: 0 10px 25px 10px;
          font-weight: 300;
          line-height: 20px;
        }
      }
      .wraper-img {
        width: 100%;
        max-width: 944px;
        margin: 0 auto;
        text-align: center;
        .wraper {
          width: 33.333%;
          float: left;
          @media (max-width: 550px) {
            width: auto;
            padding: 20px 0 20px 0;
          }
          .icon {
            text-align: center;
            height: 100px;
            vertical-align: middle;
            @media (max-width: 850px) {
              max-width: 50%;
            }
            @media (max-width: 650px) {
              max-width: 40%;
            }
          }
          .title-icon {

            color: #262626;
            font-family: "Century Gothic";
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            padding: 20px;
            @media (max-width: 850px) {
              font-size: 20px;
              padding: 10px;
            }
            @media (max-width: 650px) {
              font-size: 18px;
              line-height: 18px;
            }
          }
          .description-icon {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            padding: 0 20px;
            @media (max-width: 650px) {
              font-size: 18px;

              line-height: 18px;
            }

          }
        }
      }
      .bottom-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .bottom-img {
          position: relative;
          bottom: 0;
          left: 0;

        }
      }
    }
  }


  .ocean {
    height: 5%;
    width:100%;
    position:relative;
    bottom:0;
    left:0;
    // background: #ffc900;
    z-index: -99999;
  }

  .wave-right {
    background: url(../../img/project/wave.svg) repeat-x; //http://tedmcdo.com/labs/wave.svg
    position: absolute;
    top: -178px;
    width: 3400px;
    height: 178px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave-right:nth-of-type(2) {
    top: -145px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 10s ease -1.35s infinite;
    opacity: 1;
  }

}