.who_we_are{
  margin: 0;
  padding: 0;
  height: 858px;
  overflow: hidden;
  min-height: 540px;

  @media (max-width: 850px) {
    height: 100%;
    min-height: 540px;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
    max-width: 1440px;

  }
  .main-content {
    max-width: 944px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 100vh;
    .logo {
      max-width: 1440px !important;
      position: absolute;
      top: 40px;
      left: 40px;
      width: 200px;
      @media (max-width: 650px) {
        width: 100px;
      }
      @media (max-width: 550px) {
        display: none;
      }
    }
    .nav {
      max-width: 1440px !important;
      position: absolute;
      display: block;
      top: 40px;
      right: 80px;
      @media (max-width: 650px) {
        right: 40px;
      }
      .menu {
        position: relative;
        display: block;
        cursor: pointer;
      }
    }

    .content {
      text-align: center;
      //top: 30%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      width: 100%;
      margin: 10px 0;
      position: relative;
      @media (max-width: 850px) {
        padding: 0 15px 0 15px;
        //  top: 25%;
      }
      .title {
        color: #262626;
        font-family: "Century Gothic";
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 80px 15px 39px 15px;
        @media (max-width: 850px) {
          font-size: 30px;
          padding: 28px 15px 15px 15px;
        }
      }
      .textarea {
        max-width: 780px;
        color: #262626;
        font-family: "Century Gothic";
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        text-align: center;
        margin: 0 auto;
        padding: 0 15px 95px 15px;
        @media (max-width: 850px) {
          padding: 0 15px 25px 15px;
          font-size: 18px;
          line-height: 23px;
        }
        @media (max-width: 650px) {
          padding: 0 10px 25px 10px;
          font-weight: 300;
          line-height: 20px;
        }
      }
      .wraper-img {
        width: 100%;
        max-width: 944px;
        margin: 0 auto;
        text-align: center;
        .wraper {
          padding: 5px 0 5px 0;
          display: inline-block;
          float: left;
          margin: 0px 20px 15px;
          position: relative;
          min-width: 140px;
          @media (max-width: 550px) {
            width: 100%;
            padding: 20px 0 20px 0;
            margin: 0;
          }

          $anime-time: 8s;
          $box-size: 137px;
          $clip-distance: .05;
          $clip-size: $box-size * (1 + $clip-distance * 2);
          $path-width: 2px;
          $main-color: #ffeb3b;


          %full-fill {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }

          .bb {
            @extend %full-fill;
            width: $box-size;
            height: $box-size;
            margin: auto;
            color: $main-color;

            &::before,
            &::after {
              @extend %full-fill;
              content: '';
              z-index: -1;
              margin: -1 * $clip-distance * 100%;
              box-shadow: inset 0 0 0 $path-width;
              animation: clipMe $anime-time linear infinite;
              border-radius: 515px;
            }

            &::before {
              animation-delay: $anime-time * -.5;
            }

            // for debug
            &:hover {
              &::after,
              &::before {
                background-color: rgba(#f00, .3);
              }
            }

          }


          img{
            width: 131px;
            transform: scale(1);
            transition: .2s;
            cursor: pointer;
            &:hover{
              transform: scale(1.05);
            }
            :before{
              position: absolute;
              content: "";
              height: 1px;
              width: 30px;
              color: #fbc233;
              border: 5px solid #fbc233;

            }
          }
          .neme {
            color: #262626;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            position: relative;
            transform: translate(-50%);
            left: 50%;

            margin-top: 200px;
          }
          .position{

            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 400;
          }
        }


      }


    }
  }
}


$anime-time: 8s;
$box-size: 137px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;
$main-color: #ffeb3b;
@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}