.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.contact {


  .title {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    @media (max-width: 767px) {

      display: flex;
      flex-direction: column;
      padding: 20px 0;

      li {
        padding-top:15px ;
      }

    }
  }
}