footer{
  padding: 50px 0;
  background-color: #f8f8f8;

  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;

    ol, ul {
      margin-top: 0;
      margin-bottom: 10px;
      li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        a{
          color: #337ab7;
          text-decoration: none;
        }
      }
    }
  }
}