
/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}


/* animation down*/
@-webkit-keyframes move_down {
  0%   { -webkit-transform:translate(0,-160px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,360px); opacity: 0; }
}
@-moz-keyframes move_down {
  0%   { -moz-transform:translate(0,-360px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,360px); opacity: 0; }
}
@keyframes move_down {
  0%   { transform:translate(0,-360px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,360px); opacity: 0; }
}

/* animation up*/
@-webkit-keyframes move_up {
  0%   { -webkit-transform:translate(0,360px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,-360px); opacity: 0; }
}
@-moz-keyframes move_up {
  0%   { -moz-transform:translate(0,360px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,-360px); opacity: 0; }
}
@keyframes move_up {
  0%   { transform:translate(0,360px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,-360px); opacity: 0; }
}
/////// wave animation

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
/////// wave animation end

